*{box-sizing: border-box;
margin: 0;
font-family: Serif;}

.top{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 10rem;
    margin: 1rem;
    border-radius: 10px;
    background-color: #2e449c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box-top-left{
    display: flex;
    
   
    align-items: center;
}
.box-1{
    background-color: #717171;
    height: 8rem;
    width: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    margin-left: 2rem;
    
}
.box-1 h1:hover{
    color: aliceblue;
}
.box-1:hover{
    background-color:#3d3c3c ;
} 
.box-2{
    
    margin-left: 3rem;
}
.contact{
    margin-top:1.2rem;
    
}
.contact  a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    text-decoration: none;
    color: rgb(11, 11, 58);
    background-color: blue;
    border-radius: 100%;
}
.contact a:hover {
color: aliceblue;
background-color: rgb(34, 34, 114); 
}

/*main content*/
.tran{
    display: grid;
    grid-template-columns:30% 35% 30%;
    justify-content:space-around;
    align-items: center;
    height:100vh ;
    width:100% ;
    overflow: hidden;
    position: relative;
    background-image:linear-gradient(white ,rgb(0, 140, 255) );
    
    
    
}
.box{
    border-radius: 10px;
    height: 95%;
    position: relative;
    margin: 1rem;
    color: black;
    animation: slideIntobox 0.5s ease forwards;
    padding: 2rem;
    background-image:linear-gradient(white ,rgb(188, 221, 248) );
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.hidden {
    display: none;
}

.show {
    display: block;
   
}

.left-hide.show{
    animation: slideInFromLeft 0.5s ease forwards;
    position: absolute;
    width: 100%;
   
}
.left-but,.right-but{
    margin-top: 5rem;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    padding: .7rem;
   }
.left-but:hover{color: #05091a; background-color: rgb(0, 140, 255); font-size: 30px;}
.right-but:hover{color: #05091a; background-color: rgb(0, 140, 255); font-size: 30px;}
.right-hide.show{
    animation: slideInFromRight 0.5s ease forwards;
    position: absolute;
    width: 100%;
    text-align: center;

}
/*left-hide*/
.left-hide.show {
    top: 0;
    position: absolute;
    
} 
 /*education*/
 .education{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 2rem;
    border-radius: 10px;
    height: 180px;

  }
  .edu{
    padding: 2.5rem 0rem 0rem 2rem;
  }
  .edu-2{
    margin: .5rem;
  }
.left-hide.show .education{
    margin: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;   
    position: relative; 
}
.left-hide.show .education .edu-2{
    text-align: start;
    margin-left: 2rem;
}
.left-hide.show .education .edu{
    padding: 0;
}
.left-hide.show .back-left{
    position: absolute;
    top: 1rem;
    right: .7rem;
    padding: 0.5rem 1rem;
    border-radius: 100%;
    border: 1px solid rgb(159, 209, 250);
    
}
.left-hide.show .back-left:hover{
    font-weight: 700;
    font-size: 20px;
}
/*about slide box*/

.skill{
    
    margin: 1rem;
    position: relative;

}
.skill .topic-skill{
    border-bottom:2px #3d3c3c solid;
    border-right:1px #3d3c3c solid;
    max-width: 60%;
    padding-left: 2rem;
}
.box-skill{
    height: 200px;
    width: 100%;
    display: none;
}
.box-skill h2{
    margin-left: 1.5rem;
}
.box-skill ul{
    margin-left: 1.5rem;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 60%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(36, 32, 32);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
 
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }


@keyframes slideIntobox {
    from {
        transform: translateX(-500%);
        opacity: 0.4;
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@media screen and (max-width: 900px) {
    .tran{
        display: grid;
        grid-template-columns:50% 50% ;
        justify-content:space-around;
        align-items: center;
        height:100vh ;
        width:100% ;
        overflow: hidden;
        position: relative;
        background-image:linear-gradient(white ,rgb(0, 140, 255) ); 
    }
    .contact{
        position: relative;
        margin: 1rem;

    }
    .contact a{
        margin: 1rem;
        position: absolute;
        top: 4rem;
        right: 2rem;
    }
}
@media screen and (max-width: 690px) {
    .top{
        display: grid;
        grid-template-columns: 1fr;
        height: 45vh;
        width: 95%;
        border-radius: 10px;
        background-color: #2e449c;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
    }
    .contact{
        position: relative;
        margin: 2rem;

    }
    .contact a{
        margin: 1rem;
        position: absolute;
        top: 2.5rem;
        left: 0rem;
    }
    .tran{
        box-sizing: border-box;
        display: grid;
        grid-template-columns:1fr;
        align-items: center;
        width:100% ;
        height: 160vh;
        position: relative;
        background-image:linear-gradient(white ,rgb(0, 140, 255) );
        
        
        
    }
    
    
}

@media screen and (max-width: 400px) {
    .top{
        display: grid;
        grid-template-columns: 1fr;
        height: 45vh;
        width: 95%;
        border-radius: 10px;
        background-color: #2e449c;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: relative;
    }
    .contact{
        position: relative;
        margin: 2rem;

    }
    .contact a{
        margin: 1rem;
        position: absolute;
        top: 2.5rem;
        left: 0rem;
    }
    .box-2 h1{
        font-size: medium;
    }
    .contact h2{
        font-size: 15px;
    }
    .tran{
        box-sizing: border-box;
        display: grid;
        grid-template-columns:1fr;
        align-items: center;
        width:100% ;
        height: 160vh;
        position: relative;
        background-image:linear-gradient(white ,rgb(0, 140, 255) );
        
        
        
    }
    .left-hide.show{
        box-sizing: border-box;
        overflow: hidden;
        position: absolute;
        padding: 0;
        border: 1px solid red;
        
        
    }
    .left-hide.show .education{
            display: grid;
            grid-template-columns: 100%;
            height: 39vh;
            width: 90%;
            margin-top: 2.5rem;
            margin-left: auto;
            margin-right: auto;
    }
    .left-hide.show .education .edu {
        position: absolute;
        top: 1rem;
        left: 1.4rem;
    }
    .left-hide.show .education .edu-2{
        margin: 2rem;
        overflow: hidden;
       
        
    }
    .left-hide.show .education .edu-2 p,h2{
        font-size: 18px;
        margin-top: .5rem;
        
    }
    .left-hide.show .back-left{
        position: absolute;
        top: .5rem;
        right: 0.5rem;
        
    
    }
     /*main content*/
    .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 95%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(36, 32, 32);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .dot{
    display: none;
  }
  .skill .topic-skill{
    border-bottom:2px #3d3c3c solid;
    border-right:1px #3d3c3c solid;
    max-width: 80%;
    padding-left: 2rem;
  }
  .box-skill h2 {
    font-size: 15px;
    margin-bottom: .5rem;
  }
}
